.header{
    background-color: $header-color;
    height: 70px;
    width: 100vw;
    box-shadow:1px 3px 12px 0px rgba(0,0,0,1);
    &__row{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        background-image: url("../assets/logo.png");
        height: 50px;
        width: 140px;
    }
    &__actions{
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            margin-left: 60px;
            cursor: pointer;
        }
    }
    &__card{
        width: 25px;
        height: 25px;
    }
}