.menu{
    transition: 0.3s;
    background-color: $menu-color;
    position: absolute;
    z-index: 70;
    top: 70px;
    bottom: 0;
    right: 0;
    width: 550px;
    flex-direction: column;
    color: white;
    &__list{
        height: 100%;
        li{
            transition: 0.3s;
            height: 12.5%;
            border-top: 2px solid #282828;
            @include flex-center();
            font-size: 30px;
            font-family: $font;
            cursor: pointer;
        }
        li:hover{
            background-color: $main-color;
        }
    }
    &_exiting{
        animation: hide 300ms
    }
    &_entering{
        animation: show 300ms 
    }
    &_entered{
        display: flex;
    }
    &_exited{
        display: none;
    }
}


@keyframes show{
    0%{
        display: flex;
        transform: translateX(100%);
    }
    100%{
        display: flex;
    }
}

@keyframes hide{
    0%{
        display: flex;
    }
    100%{
        transform: translateX(100%);
        display: none;
    }
}
